.primary {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ba6e1+0,1f2c55+100 */
    background: #4ba6e1; /* Old browsers */
    background: -moz-linear-gradient(left, #4ba6e1 0%, #1f2c55 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4ba6e1 0%,#1f2c55 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4ba6e1 0%,#1f2c55 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ba6e1', endColorstr='#1f2c55',GradientType=1 ); /* IE6-9 */
}

.primary p {
    color: #fff;
}

.primary p, .secondary p{
    margin: 0;
}

.secondary {
    background: #f3ef20;
    color:  #33394e;
    padding: 1em 0;
}

.tertiary {
    background: #33394e;
}

.tertiary p {
    color: #fff;
}

.impact {
    text-transform: uppercase;
    font-weight: bold;
}

.image-container {
    max-width: 100%;
    margin: 1em 2em;

}
.image-container img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.small-copy span {
    margin-right: 0.5em;
}

.secondary a {
    color:  #33394e;
    margin-right: 0.3em;
}

.jobs {
    margin-top: 1.7em;
}

.manifesto-container .button {
    position: absolute;
    bottom: 163px;
    right: 20px;
    height: 80px;
}

.manifesto.signature span {
    border-bottom: 2px dotted #fff;
    padding-right: 1.5em;
}

.signature img {
    margin-bottom: 1.5em;
}

.composite {
    position: relative;
}

img.portrait {
    position: absolute;
    bottom: 0;
    height: 75%;
}

.goals {
    margin: 1em;
    text-align: center;
}

.goals .button {
    position: absolute;
    top: 46px;
    right: 20px;
    height: 38px;
}

.goals span {
    color: #fff;
    display: inline;
    text-align: center;
}

.recovery {
    margin-bottom: 1em;
}

.logo {
    max-width: 100%;
}

.unemployment {
    margin-left: 1em;
}

.list-container {
    padding: 1em 3em;
}

@media only screen and (min-width : 480px) {
    .jobs {
        margin-top: 3em;
    }

    .manifesto-container .button {
        bottom: 53px;
    }

    .goals .button {
        height: 78px;
    }

    img.portrait {
        left: 35px;
    }
}

@media screen and (min-width: 768px) {

    img.portrait {
        height: 100%;
        left: 60px;
    }

    .manifesto-container .button {
        bottom: 102px;
        height: 95px;
    }

    .goals .button {
        top: 25px;
        right: 30px;
    }
}

@media screen and (min-width: 992px) {

    .jobs-container {
        margin-bottom: 0;
    }

    .jobs {
        margin: 0 -3.5em -3.2em 0;
    }

    img.portrait {
        height: 100%;
        left: 0;
    }

    .manifesto-container .button {
        bottom: 109px;
        right: 50px;
        height: 85px;
    }

    .goals {
        position: relative;
        text-align: left;
    }

    .goals .button {
        top: 65px;
        right: -111px;
        height: 150px;
    }
}

@media screen and (min-width: 1200px) {

    .portrait-container {
        position: relative;
    }

    .manifesto-container .button {
        bottom: 19px;
        height: 158px;
    }

    .goals .button {
        top: 35px;
        right: -41px;
        height: 158px;
    }

    img.portrait {
        left: 20px;
        height: 440px;
    }
}